<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">
    <!--Semantic-UI CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Orders</title>
  </head>
  <body>
    <!--Vertical Navbar-->
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4" style="background: linear-gradient(to top, #0066eb 0%, #ff8ab3 68%);">
      <div class="media d-flex align-items-center"><img src="admin.svg" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        &emsp;<div class="media-body">
          <h4 class="m-0"><p class="text-white"><shop-name></h4>
            <p class="font-weight-light text-white mb-0">(Admin)</p>
        </div>
      </div>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
      <center><button type="submit" class="btn btn-danger" ><p class="text-white">Log Out</p></button></center>
    </form>
    <h5 class="ui horizontal divider header text-primary">
      MAIN
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/" class="nav-link text-dark font-italic">
                  <i class="home icon"></i>
                  Dashboard
                </a>
      </li>
      <li class="nav-item">
        <a href="/billing" class="nav-link text-dark font-italic">
          <i class="rupee sign icon"></i>
                  Bill
              </a>
      </li>
      <li class="nav-item">
     <a href="/orders" class="nav-link text-dark font-italic" style="background: linear-gradient(to right, #0066eb 0%, #ff8ab3 68%);">
      <p class="text-white"> <i class="eye icon"></i>
                  View Orders
      </p>
              </a>
      </li>
      <li class="nav-item">
        <a href="/viewstocks" class="nav-link text-dark font-italic">
          <i class="tags icon"></i>
                  View Stocks
              </a>
      </li>
      <li class="nav-item">
        <a href="/stocks" class="nav-link text-dark font-italic">
          <i class="plus circle icon"></i>
                  Add Stock
              </a>
      </li>
    </ul>
  
    <h5 class="ui horizontal divider header text-primary">
      CUSTOMIZE
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/brands" class="nav-link text-dark font-italic">
          <i class="yelp icon"></i>
                  Brand
              </a>
      </li>
      <li class="nav-item">
        <a href="/categories" class="nav-link text-dark font-italic">
          <i class="bookmark icon"></i>
                  Category
              </a>
      </li>
      <li class="nav-item">
        <a href="/sizes" class="nav-link text-dark font-italic">
          <i class="check square icon"></i>
                  Size
              </a>
      </li>
    </ul>

    <h5 class="ui horizontal divider header text-primary">
      FILTERS
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/sales_filter" class="nav-link text-dark font-italic">
          <i class="yelp icon"></i>
                  Sales
              </a>
      </li>
      <li class="nav-item">
        <a href="/stock_filter" class="nav-link text-dark font-italic">
          <i class="bookmark icon"></i>
                  Stock
              </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->
  
  <!-- Page content holder -->
  <div class="page-content p-5" id="content" style="background: linear-gradient(to right, #e9edf1 47%, #ff8ab3 100%);">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="align justify icon"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
  
    <!-- Page content -->
    
    <h1>Order Summary</h1>

    
    <center><img class="ui medium rounded image" src="flower.svg"></center>
    <br>
    <form action="orders_query" method="POST">
    <div class="ui four column grid">
      <div class="row">
      <div class="column">
      <h3>View Orders By</h3>
      </div>
      
      <div class="column">
      <div class="form-check form-check-inline form-switch">
           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="month" oninput="myFunction()">
          <label class="form-check-label" for="exampleRadios2">
              Month
          </label>
      </div>
      <div class="form-check form-check-inline form-switch">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="year" oninput="myFunction()">
          <label class="form-check-label" for="exampleRadios3">
              Year
          </label>
      </div>
      </div>
      <div class="column">
          <select class="form-select" aria-label="Disabled select example" id="month" name="selected_month" disabled>
              <option selected>Select Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
      </div>
      <div class="column">
          <select class="form-select" aria-label="Disabled select example" id="year" name="selected_year" disabled>
              <option selected>Select Year</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
      </div>
      </div>
      </div>
      <br>
      <center>
        <div class="ui left corner labeled action input">
          <button class="ui teal button" type="submit">Search &emsp;</button>
          <div class="ui corner label">
            <i class="search icon"></i>
          </div>
        </div>
      </center>
    </form>
    
      <% if(selected_item == 'None') { %> 
      <% orders.forEach(function(order){ %>
        <br>
      <div class="ui styled fluid accordion">
      <div class="title text-primary">
        <i class="dropdown icon"></i>
        
        <div class="container">
          <div class="row-lg">
            <div class="col-lg">
              <p class="text-primary">Order ID: <i><%= order.TransactionID %></i> </p>
            </div>
            <div class="col-lg">
              <p class="text-danger"> Total Amount: <i><i class="rupee sign icon"></i><%= order.Amount %></i></p>
            </div>
          </div>
          <div class="row-lg">
            <div class="col-lg">
              <p class="text-success">Date: <i><%= order.TransactionDate %></i></p>
            </div>
            <div class="col-lg">
              <p class="text-dark">Time: <i><%= order.TransactionTime %></i></p>
            </div>
          </div>
        </div>
      
      </div>
      <div class="content">
        <table class="ui inverted violet table table-bordered" >
          <thead>
            <tr class="table-success">
                
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Category</th>
                <th>Brand Name</th>
                <th>Size</th>
                <th>Amount</th>
                <th>Customer Number</th>
            </tr>
        </thead>
          <tbody>
        <% sub_orders.forEach(function(sub_order){ %>
          <% console.log(`sub_order.TransactionID = ${sub_order.TransactionID}`) %> 
          <% console.log(`order.TransactionID = ${order.TransactionID}`) %> 
        <% if(sub_order.TransactionID == order.TransactionID) { %> 
            <% console.log(sub_order) %> 
            <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
            <td><%= sub_order.ItemID %></td>
            <td><%= sub_order.ItemName %></td>
            <td><%= sub_order.Category %></td>
            <td><%= sub_order.Brand %></td>
            <td><%= sub_order.Size %></td>
            <td><i class="rupee sign icon"></i><%= sub_order.Amount %></td>
            <td><%= sub_order.CustomerNumber %></td>
            </tr>
          <% } %>
        
      
      <% }) %> 
    </tbody>
  </table> 
    </div>
  </div>
    <% }) %> 

  <% } %>
    
  <% if(selected_item == 'month') { %> 
    <h2 class="text-primary">Showing Orders for <%= month_name %>, <%= year %>  </h2>
    <% orders.forEach(function(order){ %>
      <br>
    <div class="ui styled fluid accordion">
    <div class="title text-primary">
      <i class="dropdown icon"></i>
      <div class="container">
        <div class="row-lg">
          <div class="col-lg">
            <p class="text-primary">Order ID: <i><%= order.TransactionID %></i> </p>
          </div>
          <div class="col-lg">
            <p class="text-danger"> Total Amount: <i><i class="rupee sign icon"></i><%= order.Amount %></i></p>
          </div>
        </div>
        <div class="row-lg">
          <div class="col-lg">
            <p class="text-success">Date: <i><%= order.TransactionDate %></i></p>
          </div>
          <div class="col-lg">
            <p class="text-dark">Time: <i><%= order.TransactionTime %></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <table class="ui inverted violet table table-bordered" >
        <thead>
          <tr class="table-success">
              
              <th>Item ID</th>
              <th>Item Name</th>
              <th>Category</th>
              <th>Brand Name</th>
              <th>Size</th>
              <th>Amount</th>
              <th>Customer Number</th>
          </tr>
      </thead>
        <tbody>
      <% sub_orders.forEach(function(sub_order){ %>
        <% console.log(`sub_order.TransactionID = ${sub_order.TransactionID}`) %> 
        <% console.log(`order.TransactionID = ${order.TransactionID}`) %> 
      <% if(sub_order.TransactionID == order.TransactionID) { %> 
          <% console.log(sub_order) %> 
          <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
          <td><%= sub_order.ItemID %></td>
          <td><%= sub_order.ItemName %></td>
          <td><%= sub_order.Category %></td>
          <td><%= sub_order.Brand %></td>
          <td><%= sub_order.Size %></td>
          <td><i class="rupee sign icon"></i><%= sub_order.Amount %></td>
          <td><%= sub_order.CustomerNumber %></td>
          </tr>
        <% } %>
      
    
    <% }) %> 
  </tbody>
</table> 
  </div>
</div>
  <% }) %> 

<% } %>

<% if(selected_item == 'year') { %> 
  <h2 class="text-primary">Showing Orders for <%= year %>  </h2>
  <% orders.forEach(function(order){ %>
    <br>
  <div class="ui styled fluid accordion">
  <div class="title text-primary">
    <i class="dropdown icon"></i>
    <div class="container">
      <div class="row-lg">
        <div class="col-lg">
          <p class="text-primary">Order ID: <i><%= order.TransactionID %></i> </p>
        </div>
        <div class="col-lg">
          <p class="text-danger"> Total Amount: <i><i class="rupee sign icon"></i><%= order.Amount %></i></p>
        </div>
      </div>
      <div class="row-lg">
        <div class="col-lg">
          <p class="text-success">Date: <i><%= order.TransactionDate %></i></p>
        </div>
        <div class="col-lg">
          <p class="text-dark">Time: <i><%= order.TransactionTime %></i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="ui inverted violet table table-bordered" >
      <thead>
        <tr class="table-success">
            
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Brand Name</th>
            <th>Size</th>
            <th>Amount</th>
            <th>Customer Number</th>
        </tr>
    </thead>
      <tbody>
    <% sub_orders.forEach(function(sub_order){ %>
      <% console.log(`sub_order.TransactionID = ${sub_order.TransactionID}`) %> 
      <% console.log(`order.TransactionID = ${order.TransactionID}`) %> 
    <% if(sub_order.TransactionID == order.TransactionID) { %> 
        <% console.log(sub_order) %> 
        <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
        <td><%= sub_order.ItemID %></td>
        <td><%= sub_order.ItemName %></td>
        <td><%= sub_order.Category %></td>
        <td><%= sub_order.Brand %></td>
        <td><%= sub_order.Size %></td>
        <td><i class="rupee sign icon"></i><%= sub_order.Amount %></td>
        <td><%= sub_order.CustomerNumber %></td>
        </tr>
      <% } %>
    
  
  <% }) %> 
</tbody>
</table> 
</div>
</div>
<% }) %> 

<% } %>
    
        <% orders.forEach(function(order){ %>
            <tr style="background: linear-gradient(to left, #0066eb 0%, #ff8ab3 68%);">
                <td><%= order.TransactionID %></td>
                <td><%= order.ItemID %></td>
                <td><%= order.ItemName %></td>
                <td><%= order.Category %></td>
                <td><%= order.Brand %></td>
                <td><%= order.Size %></td>
                <td><%= order.Amount %></td>
                <td><%= order.TransactionDate %></td>
                <td><%= order.TransactionTime %>&emsp;<form action="/deleteitem" method="POST"><input type="hidden" name="deleteid" value="<%= order.ItemID %>"><button type="submit" class="btn btn-danger btn-sm">Delete</button></form></td>
                <td><%= order.CustomerNumber %></td>
            </tr>
        <% }); %>
    </tbody>
    </table> -->
    </div>
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Semnatic-UI Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script>
      $(function() {
    // Sidebar toggle behavior
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar, #content').toggleClass('active');
    });
  });
  
    </script>

<script language='javascript'>
  $(document).ready(function(){
     $('.ui.accordion').accordion();
  });
 </script>

<script>
  //   console.log(document.getElementsByTagName('input'))
  function myFunction(){
    if (document.getElementById('exampleRadios2').checked == true){
      document.getElementById("month").disabled = false;
      document.getElementById("year").disabled = false;
    }
    if (document.getElementById('exampleRadios3').checked == true){
      document.getElementById("year").disabled = false;
      document.getElementById("month").disabled = true;
    }
  }
</script>
    
  </body>
</html>